.fullWidth {
    width: 100%;
}

.fullHeightContent {
    min-height: calc(100vh - 64px);
}

.flexCenterBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexEndBox {
    display: flex;
    justify-content: flex-end;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectWidth {
    max-width: 250px;
}